<a href="https://colab.research.google.com/github/sandeepa-ukr/AI-Based-Crop-Predection/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
df1= pd.read_csv('apples.csv')
df2=pd.read_csv('apricots.csv')
df3=pd.read_csv('areca nuts.csv')
df4=pd.read_csv('bananas.csv')
df5=pd.read_csv('barley.csv')
df6=pd.read_csv('beans dry.csv')
df7=pd.read_csv('beans green.csv')
df8=pd.read_csv('cabbage.csv')
df9=pd.read_csv('carrots.csv')
df10=pd.read_csv('cashewnuts.csv')
df11=pd.read_csv('cauliflower.csv')
df12=pd.read_csv('cherries.csv')
df13=pd.read_csv('chilli dry.csv')
df14=pd.read_csv('chilli green.csv')
df15=pd.read_csv('coconuts.csv')
df16=pd.read_csv('coffee.csv')
df17=pd.read_csv('cucumber.csv')
df18=pd.read_csv('eggplant.csv')
df19=pd.read_csv('fennel coriander.csv')
df20=pd.read_csv('garlic.csv')
df21=pd.read_csv('ginger.csv')
df22=pd.read_csv('grapes.csv')
df23=pd.read_csv('groundnuts.csv')
df24=pd.read_csv('lemons.csv')
df25=pd.read_csv('lentils.csv')
df26=pd.read_csv('lettuce.csv')
df27=pd.read_csv('maize.csv')
df28=pd.read_csv('mangoes.csv')
df29=pd.read_csv('melons.csv')
df30=pd.read_csv('nutmeg.csv')
df31=pd.read_csv('okra.csv')
df32=pd.read_csv('onions.csv')
df33=pd.read_csv('oranges.csv')
df34=pd.read_csv('papaya.csv')
df35=pd.read_csv('peaches.csv')
df36=pd.read_csv('pears.csv')
df37=pd.read_csv('peas.csv')
df38=pd.read_csv('pepper.csv')
df39=pd.read_csv('pineapples.csv')
df40=pd.read_csv('potatoes.csv')
df41=pd.read_csv('pumpkins.csv')

df43=pd.read_csv('rice.csv')
df44=pd.read_csv('safflower.csv')
df45=pd.read_csv('sesame.csv')
df46=pd.read_csv('soyabean.csv')
df47=pd.read_csv('sugarcane.csv')

df49=pd.read_csv('tomatoes.csv')
df50=pd.read_csv('watermelon.csv')
df51=pd.read_csv('wheat.csv')

In [4]:
all_dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
           df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
           df21, df22, df23, df24, df25, df26, df27, df28, df29, df30,
           df31, df32, df33, df34, df35, df36, df37, df38, df39, df40,
           df41, df43, df44, df45, df46, df47,
           df49, df50, df51]

# Combine all DataFrames
combined_df = pd.concat(all_dfs, ignore_index=True, axis=0)

In [5]:
combined_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data

In [6]:
df= combined_df
df.shape

(8526, 14)

In [7]:
rainfall= pd.read_csv('rainfall.csv')
temp= pd.read_csv('temperature.csv')

In [8]:
# Check for basic data quality
print("\n=== Data Quality Checks ===")
print(f"Total rows: {len(df)}")
print(f"Null values per column:")
print(df.isnull().sum())
print(f"\nDataFrame info:")
print(df.info())

# Check unique values in key columns
print(f"\nUnique crops: {df['Item'].nunique() if 'Item' in df.columns else 'Item column not found'}")
print(f"Year range: {df['Year'].min() if 'Year' in df.columns else 'Year column not found'} - {df['Year'].max() if 'Year' in df.columns else 'Year column not found'}")

=== Data Quality Checks ===
Total rows: 8526
Null values per column:
Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                  0
Flag                3547
Flag Description       0
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8526 entries, 0 to 8525
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       8526 non-null   object
 1   Domain            8526 non-null   object
 2   Area Code (FAO)   8526 non-null   int64
 3   Area              8526 non-null   object
 4   Element Code      8526 non-null   int64
 5   Element           8526 non-null   object
 6   Item Code (FAO)   8526 non-null   int64
 7   Item              8526 non-null   object
 8   Year Code         8526 non-null   int64
 9   Year              8526 non-null   int64
 10  Unit              8526 non-null   object
 11  Value             8526 non-null   int64
 12  Flag              4979 non-null   object
 13  Flag Description  8526 non-null   object
dtypes: int64(6), object(8)
memory usage: 932.7+ KB
None

Unique crops: 49
Year range: 1961 - 2018

In [9]:
# Add crop type column for better analysis
crop_names = ['apples', 'apricots', 'areca nuts', 'bananas', 'barley', 'beans dry',
              'beans green', 'cabbage', 'carrots', 'cashewnuts', 'cauliflower',
              'cherries', 'chilli dry', 'chilli green', 'coconuts', 'coffee',
              'cucumber', 'eggplant', 'fennel coriander', 'garlic', 'ginger',
              'grapes', 'groundnuts', 'lemons', 'lentils', 'lettuce', 'maize',
              'mangoes', 'melons', 'nutmeg', 'okra', 'onions', 'oranges',
              'papaya', 'peaches', 'pears', 'peas', 'pepper', 'pineapples',
              'potatoes', 'pumpkins', 'rice', 'safflower', 'sesame', 'soyabean',
              'sugarcane', 'tomatoes', 'watermelon', 'wheat']

# Create a new list with crop names added
all_dfs_with_crops = []
for i, (df_temp, crop_name) in enumerate(zip(all_dfs, crop_names), 1):
    df_temp = df_temp.copy()
    df_temp['crop_type'] = crop_name
    all_dfs_with_crops.append(df_temp)

df = pd.concat(all_dfs_with_crops, ignore_index=True, axis=0)

In [10]:
df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description,crop_type
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate,apples
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate,apples
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate,apples
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate,apples
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate,apples
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data,wheat
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data,wheat
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data,wheat
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data,wheat
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data,wheat

In [11]:
df.shape

(8526, 15)