<a href="https://colab.research.google.com/github/sandeepa-ukr/AI-Based-Crop-Predection/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
df1= pd.read_csv('apples.csv')
df2=pd.read_csv('apricots.csv')
df3=pd.read_csv('areca nuts.csv')
df4=pd.read_csv('bananas.csv')
df5=pd.read_csv('barley.csv')
df6=pd.read_csv('beans dry.csv')
df7=pd.read_csv('beans green.csv')
df8=pd.read_csv('cabbage.csv')
df9=pd.read_csv('carrots.csv')
df10=pd.read_csv('cashewnuts.csv')
df11=pd.read_csv('cauliflower.csv')
df12=pd.read_csv('cherries.csv')
df13=pd.read_csv('chilli dry.csv')
df14=pd.read_csv('chilli green.csv')
df15=pd.read_csv('coconuts.csv')
df16=pd.read_csv('coffee.csv')
df17=pd.read_csv('cucumber.csv')
df18=pd.read_csv('eggplant.csv')
df19=pd.read_csv('fennel coriander.csv')
df20=pd.read_csv('garlic.csv')
df21=pd.read_csv('ginger.csv')
df22=pd.read_csv('grapes.csv')
df23=pd.read_csv('groundnuts.csv')
df24=pd.read_csv('lemons.csv')
df25=pd.read_csv('lentils.csv')
df26=pd.read_csv('lettuce.csv')
df27=pd.read_csv('maize.csv')
df28=pd.read_csv('mangoes.csv')
df29=pd.read_csv('melons.csv')
df30=pd.read_csv('nutmeg.csv')
df31=pd.read_csv('okra.csv')
df32=pd.read_csv('onions.csv')
df33=pd.read_csv('oranges.csv')
df34=pd.read_csv('papaya.csv')
df35=pd.read_csv('peaches.csv')
df36=pd.read_csv('pears.csv')
df37=pd.read_csv('peas.csv')
df38=pd.read_csv('pepper.csv')
df39=pd.read_csv('pineapples.csv')
df40=pd.read_csv('potatoes.csv')
df41=pd.read_csv('pumpkins.csv')

df43=pd.read_csv('rice.csv')
df44=pd.read_csv('safflower.csv')
df45=pd.read_csv('sesame.csv')
df46=pd.read_csv('soyabean.csv')
df47=pd.read_csv('sugarcane.csv')

df49=pd.read_csv('tomatoes.csv')
df50=pd.read_csv('watermelon.csv')
df51=pd.read_csv('wheat.csv')

In [4]:
all_dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
           df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
           df21, df22, df23, df24, df25, df26, df27, df28, df29, df30,
           df31, df32, df33, df34, df35, df36, df37, df38, df39, df40,
           df41, df43, df44, df45, df46, df47,
           df49, df50, df51]

# Combine all DataFrames
combined_df = pd.concat(all_dfs, ignore_index=True, axis=0)

In [5]:
combined_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data

In [6]:
df= combined_df
df.shape

(8526, 14)

In [8]:
rainfall= pd.read_csv('rainfall.csv')
temp= pd.read_csv('temperature.csv')

In [10]:
# Check for basic data quality
print("\n=== Data Quality Checks ===")
print(f"Total rows: {len(df)}")
print(f"Null values per column:")
print(df.isnull().sum())
print(f"\nDataFrame info:")
print(df.info())

# Check unique values in key columns
print(f"\nUnique crops: {df['Item'].nunique() if 'Item' in df.columns else 'Item column not found'}")
print(f"Year range: {df['Year'].min() if 'Year' in df.columns else 'Year column not found'} - {df['Year'].max() if 'Year' in df.columns else 'Year column not found'}")

=== Data Quality Checks ===
Total rows: 8526
Null values per column:
Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                  0
Flag                3547
Flag Description       0
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8526 entries, 0 to 8525
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       8526 non-null   object
 1   Domain            8526 non-null   object
 2   Area Code (FAO)   8526 non-null   int64
 3   Area              8526 non-null   object
 4   Element Code      8526 non-null   int64
 5   Element           8526 non-null   object
 6   Item Code (FAO)   8526 non-null   int64
 7   Item              8526 non-null   object
 8   Year Code         8526 non-null   int64
 9   Year              8526 non-null   int64
 10  Unit              8526 non-null   object
 11  Value             8526 non-null   int64
 12  Flag              4979 non-null   object
 13  Flag Description  8526 non-null   object
dtypes: int64(6), object(8)
memory usage: 932.7+ KB
None

Unique crops: 49
Year range: 1961 - 2018

In [11]:
# Add crop type column for better analysis
# crop_names = ['apples', 'apricots', 'areca nuts', 'bananas', 'barley', 'beans dry',
#               'beans green', 'cabbage', 'carrots', 'cashewnuts', 'cauliflower',
#               'cherries', 'chilli dry', 'chilli green', 'coconuts', 'coffee',
#               'cucumber', 'eggplant', 'fennel coriander', 'garlic', 'ginger',
#               'grapes', 'groundnuts', 'lemons', 'lentils', 'lettuce', 'maize',
#               'mangoes', 'melons', 'nutmeg', 'okra', 'onions', 'oranges',
#               'papaya', 'peaches', 'pears', 'peas', 'pepper', 'pineapples',
#               'potatoes', 'pumpkins', 'rice', 'safflower', 'sesame', 'soyabean',
#               'sugarcane', 'tomatoes', 'watermelon', 'wheat']

# Create a new list with crop names added
# all_dfs_with_crops = []
# for i, (df_temp, crop_name) in enumerate(zip(all_dfs, crop_names), 1):
#     df_temp = df_temp.copy()
#     df_temp['crop_type'] = crop_name
#     all_dfs_with_crops.append(df_temp)

# df = pd.concat(all_dfs_with_crops, ignore_index=True, axis=0)

In [12]:
df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data

In [31]:
df.shape

(8526, 14)

In [30]:
# Create list of all DataFrames
all_dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
           df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
           df21, df22, df23, df24, df25, df26, df27, df28, df29, df30,
           df31, df32, df33, df34, df35, df36, df37, df38, df39, df40,
           df41, df43, df44, df45, df46, df47, df49, df50, df51]

print(f"Total DataFrames to combine: {len(all_dfs)}")

# Combine all DataFrames VERTICALLY (stack rows)
crop_df = pd.concat(all_dfs, axis=0, ignore_index=True)

print(f"âœ… Combined DataFrame shape: {crop_df.shape}")
print(f"Rows: {crop_df.shape[0]}, Columns: {crop_df.shape[1]}")

Total DataFrames to combine: 49
âœ… Combined DataFrame shape: (8526, 14)
Rows: 8526, Columns: 14

In [16]:

df42=pd.read_csv('rainfall.csv')
df48=pd.read_csv('temperature.csv')

In [17]:
df42.rename(columns={'YEAR': 'Year'}, inplace=True)
df48.rename(columns={'YEAR': 'Year'}, inplace=True)

In [24]:
climate_df = pd.merge(df42, df48, on='Year', how='outer')
merged_df = pd.merge(climate_df, df, on='Year', how='outer')

# Or in one line
# merged_df = pd.merge(pd.merge(df1, df2, on='Year', how='outer'), df3, on='Year', how='outer')

In [25]:
merged_df

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,Area,Element Code,Element,Item Code (FAO),Item,Year Code,Unit,Value,Flag,Flag Description
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5312,Area harvested,515,Apples,1961,ha,44500,F,FAO estimate
1,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5419,Yield,515,Apples,1961,hg/ha,41573,Fc,Calculated data
2,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5510,Production,515,Apples,1961,tonnes,185000,NaN,Official data
3,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5312,Area harvested,526,Apricots,1961,ha,2900,F,FAO estimate
4,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5419,Yield,526,Apricots,1961,hg/ha,27586,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5419,Yield,567,Watermelons,2018,hg/ha,249505,Fc,Calculated data
8522,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5510,Production,567,Watermelons,2018,tonnes,2520000,NaN,Official data
8523,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5312,Area harvested,15,Wheat,2018,ha,29650590,NaN,Official data
8524,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5419,Yield,15,Wheat,2018,hg/ha,33682,Fc,Calculated data
8525,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5510,Production,15,Wheat,2018,tonnes,99869520,NaN,Official data

In [26]:
merged_df.values

array([[1961, 26.1, 34.8, ..., 44500, 'F', 'FAO estimate'],
       [1961, 26.1, 34.8, ..., 41573, 'Fc', 'Calculated data'],
       [1961, 26.1, 34.8, ..., 185000, nan, 'Official data'],
       ...,
       [2018, 18.5, 26.5, ..., 29650590, nan, 'Official data'],
       [2018, 18.5, 26.5, ..., 33682, 'Fc', 'Calculated data'],
       [2018, 18.5, 26.5, ..., 99869520, nan, 'Official data']],
      dtype=object)

In [27]:
merged_df.columns

Index(['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec',
       'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'Domain Code',
       'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element',
       'Item Code (FAO)', 'Item', 'Year Code', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

#Explore dataset

In [28]:
# Check what we have in the merged DataFrame
print("DataFrame Info:")
print(merged_df.info())

print("\nColumn types and sample values:")
print(merged_df.dtypes)

# Check unique values in key columns
print(f"\nUnique Items: {merged_df['Item'].nunique() if 'Item' in merged_df.columns else 'N/A'}")
print(f"Unique Elements: {merged_df['Element'].unique() if 'Element' in merged_df.columns else 'N/A'}")
print(f"Year range: {merged_df['Year'].min()} - {merged_df['Year'].max()}")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8526 entries, 0 to 8525
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              8526 non-null   int64
 1   JAN               8526 non-null   float64
 2   FEB               8526 non-null   float64
 3   MAR               8526 non-null   float64
 4   APR               8526 non-null   float64
 5   MAY               8526 non-null   float64
 6   JUN               8526 non-null   float64
 7   JUL               8526 non-null   float64
 8   AUG               8526 non-null   float64
 9   SEP               8526 non-null   float64
 10  OCT               8526 non-null   float64
 11  NOV               8526 non-null   float64
 12  DEC               8526 non-null   float64
 13  ANN               8526 non-null   float64
 14  Jan-Feb           8526 non-null   float64
 15  Mar-May           8526 non-null   float64
 16  Jun-Sep           8526 non-null   float64
 17  Oct-Dec           8526 non-null   float64
 18  ANNUAL            8526 non-null   float64
 19  JAN-FEB           8526 non-null   float64
 20  MAR-MAY           8526 non-null   float64
 21  JUN-SEP           8526 non-null   float64
 22  OCT-DEC           8526 non-null   float64
 23  Domain Code       8526 non-null   object
 24  Domain            8526 non-null   object
 25  Area Code (FAO)   8526 non-null   int64
 26  Area              8526 non-null   object
 27  Element Code      8526 non-null   int64
 28  Element           8526 non-null   object
 29  Item Code (FAO)   8526 non-null   int64
 30  Item              8526 non-null   object
 31  Year Code         8526 non-null   int64
 32  Unit              8526 non-null   object
 33  Value             8526 non-null   int64
 34  Flag              4979 non-null   object
 35  Flag Description  8526 non-null   object
dtypes: float64(22), int64(6), object(8)
memory usage: 2.3+ MB
None

Column types and sample values:
Year                  int64
JAN                 float64
FEB                 float64
MAR                 float64
APR                 float64
MAY                 float64
JUN                 float64
JUL                 float64
AUG                 float64
SEP                 float64
OCT                 float64
NOV                 float64
DEC                 float64
ANN                 float64
Jan-Feb             float64
Mar-May             float64
Jun-Sep             float64
Oct-Dec             float64
ANNUAL              float64
JAN-FEB             float64
MAR-MAY             float64
JUN-SEP             float64
OCT-DEC             float64
Domain Code          object
Domain               object
Area Code (FAO)       int64
Area                 object
Element Code          int64
Element              object
Item Code (FAO)       int64
Item                 object
Year Code             int64
Unit                 object
Value                 int64
Flag                 object
Flag Description     object
dtype: object

Unique Items: 49
Unique Elements: ['Area harvested' 'Yield' 'Production']
Year range: 1961 - 2018

##seperate climate and crop data

In [37]:
print(f"Climate data rows: {len(climate_df)}")
print(f"Crop data rows: {len(crop_df)}")
print(f"Total rows in merged_df: {len(merged_df)}")
print(f"Unclassified rows: {len(merged_df) - len(climate_df) - len(crop_df)}")

# Check what's in climate data
print("\n=== Climate Data Sample ===")
print(climate_df[['Year', 'JAN', 'FEB', 'ANN', 'ANNUAL']].head())
print(f"Climate data columns: {climate_df.columns.tolist()}")

# Check what's in crop data
print("\n=== Crop Data Sample ===")
print(crop_df[['Year', 'Item', 'Element', 'Value', 'Unit']].head())
print(f"crop data columns: {crop_df.columns.tolist()}")
print(f"Unique crops: {crop_df['Item'].nunique()}")
print(f"Unique elements: {crop_df['Element'].unique()}")


print(f"Combined climate and crop data columns: {merged_df.columns.tolist()}")

Climate data rows: 58
Crop data rows: 8526
Total rows in merged_df: 8526
Unclassified rows: -58

=== Climate Data Sample ===
   Year   JAN   FEB     ANN  ANNUAL
0  1961  26.1  34.8  1399.2   24.00
1  1962  12.6  21.6  1198.0   24.04
2  1963   6.8   9.8  1220.9   24.15
3  1964  18.6  14.1  1244.4   24.10
4  1965  11.8  28.1   947.4   24.07
Climate data columns: ['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC']

=== Crop Data Sample ===
   Year    Item         Element  Value Unit
0  1961  Apples  Area harvested  44500   ha
1  1962  Apples  Area harvested  38500   ha
2  1963  Apples  Area harvested  33700   ha
3  1964  Apples  Area harvested  26500   ha
4  1965  Apples  Area harvested  21700   ha
crop data columns: ['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag', 'Flag Description']
Unique crops: 49
Unique elements: ['Area harvested' 'Yield' 'Production']
Combined climate and crop data columns: ['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Unit', 'Value', 'Flag', 'Flag Description']

#Prepare Training data from crop data

In [35]:
# Focus on Yield data for training (most common prediction task)
yield_df = crop_df[crop_df['Element'] == 'Yield'].copy()
production_df = crop_df[crop_df['Element'] == 'Production'].copy()
area_df = crop_df[crop_df['Element'] == 'Area harvested'].copy()

print(f"Yield data rows: {len(yield_df)}")
print(f"Production data rows: {len(production_df)}")
print(f"Area data rows: {len(area_df)}")

# Check units
print(f"\nYield units: {yield_df['Unit'].unique()}")
print(f"Production units: {production_df['Unit'].unique()}")
print(f"Area units: {area_df['Unit'].unique()}")

Yield data rows: 2842
Production data rows: 2842
Area data rows: 2842

Yield units: ['hg/ha']
Production units: ['tonnes']
Area units: ['ha']

In [38]:
yield_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
58,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1961,1961,hg/ha,41573,Fc,Calculated data
59,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1962,1962,hg/ha,41558,Fc,Calculated data
60,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1963,1963,hg/ha,41543,Fc,Calculated data
61,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1964,1964,hg/ha,41509,Fc,Calculated data
62,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1965,1965,hg/ha,41475,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2014,2014,hg/ha,31457,Fc,Calculated data
8464,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2015,2015,hg/ha,27496,Fc,Calculated data
8465,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2016,2016,hg/ha,30339,Fc,Calculated data
8466,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2017,2017,hg/ha,31999,Fc,Calculated data
8467,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2018,2018,hg/ha,33682,Fc,Calculated data

##Combined Climate and Crop Data for Training

In [ ]:
def create_training_dataset(merged_df, target_element='Yield', target_unit='hg/ha'):
    """
    Create training data by merging climate features with crop targets
    """
    # Filter crop data for specific element and unit
    crop_target = crop_df[
        (crop_df['Element'] == target_element) &
        (crop_df['Unit'] == target_unit)
    ].copy()

    # Prepare climate data (keep only year and climate columns)
    climate_features = climate_df[['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
                                   'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN']].copy()

    # Merge climate data with crop data on Year
    training_data = pd.merge(
        climate_features,
        crop_target[['Year', 'Item', 'Value']],
        on='Year',
        how='inner',
        suffixes=('_climate', '_crop')
    )

    # Rename target column
    training_data = training_data.rename(columns={'Value': 'target_yield'})

    return training_data.dropna()

# Create training dataset
train_data = create_training_dataset(climate_df, crop_df, 'Yield', 'hg/ha')
print(f"Training data shape: {train_data.shape}")
print(f"Unique crops in training data: {train_data['Item'].nunique()}")