<a href="https://colab.research.google.com/github/sandeepa-ukr/AI-Based-Crop-Predection/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# ML imports
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.ensemble import IsolationForest
from scipy.cluster.hierarchy import dendrogram, linkage

In [2]:
crop_files = [
    ("apples.csv", "apples"),
    ("apricots.csv", "apricots"),
    ("areca nuts.csv", "areca nuts"),
    ("bananas.csv", "bananas"),
    ("barley.csv", "barley"),
    ("beans dry.csv", "beans dry"),
    ("beans green.csv", "beans green"),
    ("cabbage.csv", "cabbage"),
    ("carrots.csv", "carrots"),
    ("cashewnuts.csv", "cashewnuts"),
    ("cauliflower.csv", "cauliflower"),
    ("cherries.csv", "cherries"),
    ("chilli dry.csv", "chilli dry"),
    ("chilli green.csv", "chilli green"),
    ("coconuts.csv", "coconuts"),
    ("coffee.csv", "coffee"),
    ("cucumber.csv", "cucumber"),
    ("eggplant.csv", "eggplant"),
    ("fennel coriander.csv", "fennel coriander"),
    ("garlic.csv", "garlic"),
    ("ginger.csv", "ginger"),
    ("grapes.csv", "grapes"),
    ("groundnuts.csv", "groundnuts"),
    ("lemons.csv", "lemons"),
    ("lentils.csv", "lentils"),
    ("lettuce.csv", "lettuce"),
    ("maize.csv", "maize"),
    ("mangoes.csv", "mangoes"),
    ("melons.csv", "melons"),
    ("nutmeg.csv", "nutmeg"),
    ("okra.csv", "okra"),
    ("onions.csv", "onions"),
    ("oranges.csv", "oranges"),
    ("papaya.csv", "papaya"),
    ("peaches.csv", "peaches"),
    ("pears.csv", "pears"),
    ("peas.csv", "peas"),
    ("pepper.csv", "pepper"),
    ("pineapples.csv", "pineapples"),
    ("potatoes.csv", "potatoes"),
    ("pumpkins.csv", "pumpkins"),
    ("rice.csv", "rice"),
    ("safflower.csv", "safflower"),
    ("sesame.csv", "sesame"),
    ("soyabean.csv", "soyabean"),
    ("sugarcane.csv", "sugarcane"),
    ("tomatoes.csv", "tomatoes"),
    ("watermelon.csv", "watermelon"),
    ("wheat.csv", "wheat"),
]

In [3]:
crop_dfs = []
for fname, crop_name in crop_files:
    tmp = pd.read_csv(fname)
    # tmp = tmp.copy()
    # tmp['Year'] = tmp['Year'].astype(int)
    # tmp['crop_type'] = crop_name
    crop_dfs.append(tmp)

crop_df = pd.concat(crop_dfs, ignore_index=True, axis=0)
print(f"Loaded crop_df shape: {crop_df.shape}")

Loaded crop_df shape: (8526, 14)

In [4]:
crop_dfs

[    Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)    Item  Year Code  Year  \
 0            5312  Area harvested              515  Apples       1961  1961
 1            5312  Area harvested              515  Apples       1962  1962
 2            5312  Area harvested              515  Apples       1963  1963
 3            5312  Area harvested              515  Apples       1964  1964
 4            5312  Area harvested              515  Apples       1965  1965
 ..            ...             ...              ...     ...        ...   ...
 169          5510      Production              515  Apples       2014  2014
 170          5510      Production              515  Apples       2015  2015
 171          5510      Production              515  Apples       2016  2016
 172          5510      Production              515  Apples       2017  2017
 173          5510      Production              515  Apples       2018  2018

        Unit    Value Flag Flag Description
 0        ha    44500    F     FAO estimate
 1        ha    38500    F     FAO estimate
 2        ha    33700    F     FAO estimate
 3        ha    26500    F     FAO estimate
 4        ha    21700    F     FAO estimate
 ..      ...      ...  ...              ...
 169  tonnes  2497680  NaN    Official data
 170  tonnes  2134000  NaN    Official data
 171  tonnes  2521000  NaN    Official data
 172  tonnes  2265000  NaN    Official data
 173  tonnes  2327000  NaN    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)      Item  Year Code  Year  \
 0            5312  Area harvested              526  Apricots       1961  1961
 1            5312  Area harvested              526  Apricots       1962  1962
 2            5312  Area harvested              526  Apricots       1963  1963
 3            5312  Area harvested              526  Apricots       1964  1964
 4            5312  Area harvested              526  Apricots       1965  1965
 ..            ...             ...              ...       ...        ...   ...
 169          5510      Production              526  Apricots       2014  2014
 170          5510      Production              526  Apricots       2015  2015
 171          5510      Production              526  Apricots       2016  2016
 172          5510      Production              526  Apricots       2017  2017
 173          5510      Production              526  Apricots       2018  2018

        Unit  Value Flag                          Flag Description
 0        ha   2900    F                              FAO estimate
 1        ha   2700    F                              FAO estimate
 2        ha   2800    F                              FAO estimate
 3        ha   2900    F                              FAO estimate
 4        ha   3000    F                              FAO estimate
 ..      ...    ...  ...                                       ...
 169  tonnes  14116   Im  FAO data based on imputation methodology
 170  tonnes  14186   Im  FAO data based on imputation methodology
 171  tonnes  14318   Im  FAO data based on imputation methodology
 172  tonnes  14207   Im  FAO data based on imputation methodology
 173  tonnes  14237   Im  FAO data based on imputation methodology

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)        Item  Year Code  \
 0            5312  Area harvested              226  Areca nuts       1961
 1            5312  Area harvested              226  Areca nuts       1962
 2            5312  Area harvested              226  Areca nuts       1963
 3            5312  Area harvested              226  Areca nuts       1964
 4            5312  Area harvested              226  Areca nuts       1965
 ..            ...             ...              ...         ...        ...
 169          5510      Production              226  Areca nuts       2014
 170          5510      Production              226  Areca nuts       2015
 171          5510      Production              226  Areca nuts       2016
 172          5510      Production              226  Areca nuts       2017
 173          5510      Production              226  Areca nuts       2018

      Year    Unit   Value Flag Flag Description
 0    1961      ha  135000    F     FAO estimate
 1    1962      ha  135000    F     FAO estimate
 2    1963      ha  135000    F     FAO estimate
 3    1964      ha  135000    F     FAO estimate
 4    1965      ha  131000  NaN    Official data
 ..    ...     ...     ...  ...              ...
 169  2014  tonnes  622000  NaN    Official data
 170  2015  tonnes  747000  NaN    Official data
 171  2016  tonnes  714000  NaN    Official data
 172  2017  tonnes  723000  NaN    Official data
 173  2018  tonnes  833000  NaN    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)     Item  Year Code  Year  \
 0            5312  Area harvested              486  Bananas       1961  1961
 1            5312  Area harvested              486  Bananas       1962  1962
 2            5312  Area harvested              486  Bananas       1963  1963
 3            5312  Area harvested              486  Bananas       1964  1964
 4            5312  Area harvested              486  Bananas       1965  1965
 ..            ...             ...              ...      ...        ...   ...
 169          5510      Production              486  Bananas       2014  2014
 170          5510      Production              486  Bananas       2015  2015
 171          5510      Production              486  Bananas       2016  2016
 172          5510      Production              486  Bananas       2017  2017
 173          5510      Production              486  Bananas       2018  2018

        Unit     Value Flag Flag Description
 0        ha    165000  NaN    Official data
 1        ha    181000  NaN    Official data
 2        ha    193000  NaN    Official data
 3        ha    198000  NaN    Official data
 4        ha    211000  NaN    Official data
 ..      ...       ...  ...              ...
 169  tonnes  29724550  NaN    Official data
 170  tonnes  29221000  NaN    Official data
 171  tonnes  29135000  NaN    Official data
 172  tonnes  30477000  NaN    Official data
 173  tonnes  30808000  NaN    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)    Item  Year Code  Year  \
 0            5312  Area harvested               44  Barley       1961  1961
 1            5312  Area harvested               44  Barley       1962  1962
 2            5312  Area harvested               44  Barley       1963  1963
 3            5312  Area harvested               44  Barley       1964  1964
 4            5312  Area harvested               44  Barley       1965  1965
 ..            ...             ...              ...     ...        ...   ...
 169          5510      Production               44  Barley       2014  2014
 170          5510      Production               44  Barley       2015  2015
 171          5510      Production               44  Barley       2016  2016
 172          5510      Production               44  Barley       2017  2017
 173          5510      Production               44  Barley       2018  2018

        Unit    Value Flag Flag Description
 0        ha  3205000  NaN    Official data
 1        ha  3312000  NaN    Official data
 2        ha  3019000  NaN    Official data
 3        ha  2774000  NaN    Official data
 4        ha  2682000  NaN    Official data
 ..      ...      ...  ...              ...
 169  tonnes  1830000  NaN    Official data
 170  tonnes  1613000  NaN    Official data
 171  tonnes  1440000  NaN    Official data
 172  tonnes  1747450  NaN    Official data
 173  tonnes  1780810  NaN    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)        Item  Year Code  \
 0            5312  Area harvested              176  Beans, dry       1961
 1            5312  Area harvested              176  Beans, dry       1962
 2            5312  Area harvested              176  Beans, dry       1963
 3            5312  Area harvested              176  Beans, dry       1964
 4            5312  Area harvested              176  Beans, dry       1965
 ..            ...             ...              ...         ...        ...
 169          5510      Production              176  Beans, dry       2014
 170          5510      Production              176  Beans, dry       2015
 171          5510      Production              176  Beans, dry       2016
 172          5510      Production              176  Beans, dry       2017
 173          5510      Production              176  Beans, dry       2018

      Year    Unit    Value Flag Flag Description
 0    1961      ha  6541248  NaN    Official data
 1    1962      ha  6725782  NaN    Official data
 2    1963      ha  7040000  NaN    Official data
 3    1964      ha  7332400  NaN    Official data
 4    1965      ha  7088400  NaN    Official data
 ..    ...     ...      ...  ...              ...
 169  2014  tonnes  4230000  NaN    Official data
 170  2015  tonnes  4260000  NaN    Official data
 171  2016  tonnes  5890000  NaN    Official data
 172  2017  tonnes  6340000  NaN    Official data
 173  2018  tonnes  6220000  NaN    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)          Item  Year Code  \
 0            5312  Area harvested              414  Beans, green       1961
 1            5312  Area harvested              414  Beans, green       1962
 2            5312  Area harvested              414  Beans, green       1963
 3            5312  Area harvested              414  Beans, green       1964
 4            5312  Area harvested              414  Beans, green       1965
 ..            ...             ...              ...           ...        ...
 169          5510      Production              414  Beans, green       2014
 170          5510      Production              414  Beans, green       2015
 171          5510      Production              414  Beans, green       2016
 172          5510      Production              414  Beans, green       2017
 173          5510      Production              414  Beans, green       2018

      Year    Unit   Value Flag                          Flag Description
 0    1961      ha   80000    F                              FAO estimate
 1    1962      ha   81000    F                              FAO estimate
 2    1963      ha   83000    F                              FAO estimate
 3    1964      ha   85000    F                              FAO estimate
 4    1965      ha   88000    F                              FAO estimate
 ..    ...     ...     ...  ...                                       ...
 169  2014  tonnes  628502   Im  FAO data based on imputation methodology
 170  2015  tonnes  661863   Im  FAO data based on imputation methodology
 171  2016  tonnes  636789   Im  FAO data based on imputation methodology
 172  2017  tonnes  642385   Im  FAO data based on imputation methodology
 173  2018  tonnes  647012   Im  FAO data based on imputation methodology

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India
 1           QCL  Crops and livestock products              100  India
 2           QCL  Crops and livestock products              100  India
 3           QCL  Crops and livestock products              100  India
 4           QCL  Crops and livestock products              100  India
 ..          ...                           ...              ...    ...
 169         QCL  Crops and livestock products              100  India
 170         QCL  Crops and livestock products              100  India
 171         QCL  Crops and livestock products              100  India
 172         QCL  Crops and livestock products              100  India
 173         QCL  Crops and livestock products              100  India

      Element Code         Element  Item Code (FAO)  \
 0            5312  Area harvested              358
 1            5312  Area harvested              358
 2            5312  Area harvested              358
 3            5312  Area harvested              358
 4            5312  Area harvested              358
 ..            ...             ...              ...
 169          5510      Production              358
 170          5510      Production              358
 171          5510      Production              358
 172          5510      Production              358
 173          5510      Production              358

                              Item  Year Code  Year    Unit    Value Flag  \
 0    Cabbages and other brassicas       1961  1961      ha    21000    F
 1    Cabbages and other brassicas       1962  1962      ha    22000    F
 2    Cabbages and other brassicas       1963  1963      ha    23000    F
 3    Cabbages and other brassicas       1964  1964      ha    24000    F
 4    Cabbages and other brassicas       1965  1965      ha    25000    F
 ..                            ...        ...   ...     ...      ...  ...
 169  Cabbages and other brassicas       2014  2014  tonnes  9039220  NaN
 170  Cabbages and other brassicas       2015  2015  tonnes  8585000  NaN
 171  Cabbages and other brassicas       2016  2016  tonnes  8806000  NaN
 172  Cabbages and other brassicas       2017  2017  tonnes  8807000  NaN
 173  Cabbages and other brassicas       2018  2018  tonnes  9037000  NaN

     Flag Description
 0       FAO estimate
 1       FAO estimate
 2       FAO estimate
 3       FAO estimate
 4       FAO estimate
 ..               ...
 169    Official data
 170    Official data
 171    Official data
 172    Official data
 173    Official data

 [174 rows x 14 columns],
     Domain Code                        Domain  Area Code (FAO)   Area  \
 0           QCL  Crops and livestock products              100  India

In [5]:
crop_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data

In [6]:
# Check for basic data quality
print("\n=== Data Quality Checks ===")
print(f"Total rows: {len(crop_df)}")
print(f"Null values per column:")
print(crop_df.isnull().sum())
print(f"\nDataFrame info:")
print(crop_df.info())

# Check unique values in key columns
print(f"\nUnique crops: {crop_df['Item'].nunique() if 'Item' in crop_df.columns else 'Item column not found'}")
print(f"Year range: {crop_df['Year'].min() if 'Year' in crop_df.columns else 'Year column not found'} - {crop_df['Year'].max() if 'Year' in crop_df.columns else 'Year column not found'}")

=== Data Quality Checks ===
Total rows: 8526
Null values per column:
Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                  0
Flag                3547
Flag Description       0
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8526 entries, 0 to 8525
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       8526 non-null   object
 1   Domain            8526 non-null   object
 2   Area Code (FAO)   8526 non-null   int64
 3   Area              8526 non-null   object
 4   Element Code      8526 non-null   int64
 5   Element           8526 non-null   object
 6   Item Code (FAO)   8526 non-null   int64
 7   Item              8526 non-null   object
 8   Year Code         8526 non-null   int64
 9   Year              8526 non-null   int64
 10  Unit              8526 non-null   object
 11  Value             8526 non-null   int64
 12  Flag              4979 non-null   object
 13  Flag Description  8526 non-null   object
dtypes: int64(6), object(8)
memory usage: 932.7+ KB
None

Unique crops: 49
Year range: 1961 - 2018

In [7]:
rainfall = pd.read_csv('rainfall.csv')
temperature = pd.read_csv('temperature.csv')

In [8]:
for dfc in (rainfall, temperature):
    if 'YEAR' in dfc.columns:
        dfc.rename(columns={'YEAR': 'Year'}, inplace=True)
    if 'Year' not in dfc.columns:
        raise ValueError("Climate files must have a 'Year' column")

In [9]:
# rainfall.rename(columns={'YEAR': 'Year'}, inplace=True)
# temperature.rename(columns={'YEAR': 'Year'}, inplace=True)

In [10]:
climate_df = pd.merge(rainfall, temperature, on='Year', how='outer')
merged_df = pd.merge(climate_df, crop_df, on='Year', how='outer')

# Or in one line
# merged_df = pd.merge(pd.merge(df1, df2, on='Year', how='outer'), df3, on='Year', how='outer')

In [11]:
merged_df

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,Area,Element Code,Element,Item Code (FAO),Item,Year Code,Unit,Value,Flag,Flag Description
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5312,Area harvested,515,Apples,1961,ha,44500,F,FAO estimate
1,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5419,Yield,515,Apples,1961,hg/ha,41573,Fc,Calculated data
2,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5510,Production,515,Apples,1961,tonnes,185000,NaN,Official data
3,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5312,Area harvested,526,Apricots,1961,ha,2900,F,FAO estimate
4,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,India,5419,Yield,526,Apricots,1961,hg/ha,27586,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5419,Yield,567,Watermelons,2018,hg/ha,249505,Fc,Calculated data
8522,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5510,Production,567,Watermelons,2018,tonnes,2520000,NaN,Official data
8523,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5312,Area harvested,15,Wheat,2018,ha,29650590,NaN,Official data
8524,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5419,Yield,15,Wheat,2018,hg/ha,33682,Fc,Calculated data
8525,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,India,5510,Production,15,Wheat,2018,tonnes,99869520,NaN,Official data

In [12]:
merged_df.values

array([[1961, 26.1, 34.8, ..., 44500, 'F', 'FAO estimate'],
       [1961, 26.1, 34.8, ..., 41573, 'Fc', 'Calculated data'],
       [1961, 26.1, 34.8, ..., 185000, nan, 'Official data'],
       ...,
       [2018, 18.5, 26.5, ..., 29650590, nan, 'Official data'],
       [2018, 18.5, 26.5, ..., 33682, 'Fc', 'Calculated data'],
       [2018, 18.5, 26.5, ..., 99869520, nan, 'Official data']],
      dtype=object)

In [13]:
merged_df.columns

Index(['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec',
       'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'Domain Code',
       'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element',
       'Item Code (FAO)', 'Item', 'Year Code', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [14]:
# compute seasonal aggregates if not present
if 'winter_avg' not in climate_df.columns:
    # winter defined here as DEC (prev), JAN, FEB  approximation using available DEC/JAN/FEB
    # Because DEC previous-year isn't directly available per-row, we compute seasonal proxies as mean of DJF where available
    climate_df['winter_avg'] = climate_df[['DEC', 'JAN', 'FEB']].mean(axis=1)
if 'summer_avg' not in climate_df.columns:
    climate_df['summer_avg'] = climate_df[['MAR', 'APR', 'MAY']].mean(axis=1)
if 'monsoon_avg' not in climate_df.columns:
    climate_df['monsoon_avg'] = climate_df[['JUN', 'JUL', 'AUG', 'SEP']].mean(axis=1)

climate_df['climate_std'] = climate_df[['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']].std(axis=1)

print("Climate preprocessing done.")

Climate preprocessing done.

In [15]:
climate_df

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,Oct-Dec,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,winter_avg,summer_avg,monsoon_avg,climate_std
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,154.2,24.00,18.98,26.11,27.06,21.17,23.766667,44.033333,263.000,116.831600
1,1962,12.6,21.6,16.0,43.6,70.8,137.1,281.6,276.9,211.0,...,126.7,24.04,18.91,25.91,27.14,21.47,21.366667,43.466667,226.650,102.202809
2,1963,6.8,9.8,41.7,50.6,60.9,168.0,258.6,316.7,164.9,...,142.9,24.15,19.07,25.57,27.21,22.04,10.700000,51.066667,227.050,103.295723
3,1964,18.6,14.1,19.0,40.0,52.1,177.2,345.7,273.7,200.4,...,103.5,24.10,18.83,26.38,26.90,21.58,15.333333,37.033333,249.250,115.764773
4,1965,11.8,28.1,26.7,45.1,52.7,116.1,270.1,192.8,129.5,...,74.4,24.07,19.22,25.24,27.08,22.10,20.700000,41.500000,177.125,82.034909
5,1966,13.1,25.4,20.3,30.6,57.2,178.8,252.5,212.5,143.9,...,123.7,24.36,19.93,26.07,27.17,21.83,18.400000,36.033333,196.925,85.149784
6,1967,11.1,14.2,63.3,29.5,42.8,144.0,305.6,264.3,170.3,...,108.9,24.11,19.44,25.55,27.19,21.68,27.133333,45.200000,221.050,101.803130
7,1968,29.4,19.8,27.5,32.6,46.7,149.6,309.9,212.8,129.5,...,101.6,23.94,18.25,25.62,27.22,21.69,20.600000,35.600000,200.450,94.076981
8,1969,12.7,14.5,20.1,39.7,63.4,130.2,317.8,273.4,172.7,...,103.4,24.46,19.18,26.39,27.35,22.20,13.300000,41.066667,223.525,105.974065
9,1970,23.2,27.3,25.9,29.2,69.7,215.9,245.6,313.0,212.7,...,92.6,24.26,19.56,26.39,27.06,21.55,17.366667,41.600000,246.800,109.732596
10,1971,16.1,23.6,10.8,52.8,75.0,229.9,267.2,267.3,146.5,...,127.8,23.91,19.05,25.78,26.75,21.48,17.233333,46.200000,227.725,101.560451
11,1972,10.3,27.6,21.6,37.1,55.3,123.3,204.0,219.5,127.5,...,120.9,24.10,18.57,25.78,27.27,21.88,20.533333,38.000000,168.575,72.710107
12,1973,21.0,21.8,21.2,27.5,56.5,149.9,277.4,311.0,182.1,...,151.2,24.41,19.74,26.53,27.30,21.53,20.166667,35.066667,230.100,106.373274
13,1974,16.1,12.9,20.5,33.7,64.2,122.0,283.6,232.5,145.3,...,124.4,24.00,18.54,26.24,27.02,21.38,13.700000,39.466667,195.850,92.628636
14,1975,15.4,20.8,28.7,28.3,50.2,175.6,310.7,292.5,224.6,...,148.0,23.74,18.69,25.77,26.57,21.30,13.166667,35.733333,250.850,114.362701
15,1976,11.5,24.5,25.5,36.3,45.4,160.3,294.1,294.0,144.2,...,95.6,24.07,18.87,25.61,26.87,22.25,14.533333,35.733333,223.150,105.175929
16,1977,21.0,10.2,14.6,68.3,84.4,187.2,323.4,245.4,147.8,...,167.4,24.35,19.35,26.03,27.13,22.30,15.766667,55.766667,225.950,100.812182
17,1978,12.3,27.0,44.2,33.1,60.2,208.8,290.0,282.0,161.9,...,117.8,24.24,18.95,25.94,27.12,22.22,19.366667,45.833333,235.675,103.863962
18,1979,20.9,35.0,28.9,21.2,54.2,140.5,239.6,210.6,136.8,...,142.4,24.57,19.47,25.97,27.54,22.59,23.433333,34.766667,181.875,77.677999
19,1980,12.8,22.3,32.5,34.6,55.3,227.8,295.0,263.8,145.7,...,92.4,24.55,19.64,26.58,27.26,22.17,18.033333,40.800000,233.075,105.572217
20,1981,29.3,20.4,48.0,37.3,67.1,151.3,309.1,237.0,184.5,...,86.6,24.27,19.42,26.14,27.22,21.68,21.233333,50.800000,220.475,98.592065
21,1982,23.8,24.2,45.7,49.8,59.0,137.8,230.8,276.9,124.9,...,111.5,24.15,19.14,25.41,27.31,22.02,20.633333,51.500000,192.600,85.654232
22,1983,18.5,23.3,43.4,57.0,70.1,150.8,282.2,304.3,251.6,...,119.7,24.12,19.09,25.45,27.43,21.71,21.566667,56.833333,247.225,109.483933
23,1984,19.0,35.9,22.8,45.3,60.4,192.3,291.9,256.5,144.6,...,92.0,24.26,18.85,26.51,27.10,21.82,23.400000,42.833333,221.325,99.402342
24,1985,23.2,9.9,20.1,39.5,63.0,156.5,290.1,231.7,149.6,...,161.4,24.45,19.61,26.72,27.12,21.84,20.500000,40.866667,206.975,93.532021
25,1986,15.5,36.6,29.9,50.0,49.4,182.6,264.2,228.3,128.4,...,152.7,24.20,19.12,25.94,27.17,21.90,26.833333,43.100000,200.875,85.369976
26,1987,13.2,23.8,28.8,43.9,67.0,133.9,223.2,242.1,152.2,...,160.7,24.57,19.42,25.85,27.88,22.29,19.633333,46.566667,187.850,79.819630
27,1988,10.4,28.7,53.7,41.7,70.4,161.8,374.8,295.3,217.7,...,87.7,24.42,19.70,26.24,27.22,22.00,18.966667,55.266667,262.400,122.515227
28,1989,15.4,15.3,28.8,34.6,57.5,184.7,302.3,236.2,163.1,...,89.4,24.03,18.76,25.69,26.98,21.94,15.966667,40.300000,221.575,100.542451
29,1990,16.0,44.2,54.0,43.8,112.9,191.3,282.9,293.6,197.4,...,165.3,24.21,19.44,25.55,27.18,22.11,30.400000,70.233333,241.300,100.288673
30,1991,14.3,28.1,27.8,51.7,68.9,184.7,279.2,268.1,140.7,...,106.8,24.28,19.21,26.02,27.32,21.87,19.033333,49.466667,218.175,97.122807
31,1992,16.0,16.5,24.8,26.1,59.3,139.7,262.5,274.0,171.7,...,112.0,24.15,19.06,25.64,27.15,22.04,12.700000,36.733333,211.975,96.754630
32,1993,18.2,25.6,41.6,27.0,71.3,172.1,305.4,203.2,208.5,...,134.9,24.43,19.61,25.98,27.34,22.21,20.100000,46.633333,222.300,97.020968
33,1994,25.0,27.9,25.2,45.9,53.1,205.7,350.0,282.2,149.4,...,130.9,24.46,19.76,26.30,27.30,21.97,25.166667,41.400000,246.825,113.592001
34,1995,31.3,29.4,28.3,32.4,82.4,143.3,323.4,269.0,179.0,...,123.9,25.29,20.33,26.94,28.07,23.19,23.300000,47.700000,228.675,103.958588
35,1996,22.9,23.2,32.1,31.4,56.0,185.7,262.1,292.4,146.1,...,130.9,24.55,20.79,26.49,27.22,21.76,21.000000,39.833333,221.575,100.093294
36,1997,14.3,10.4,30.3,46.0,48.6,171.7,281.5,261.9,151.4,...,167.0,24.10,18.87,25.69,27.60,21.89,24.333333,41.633333,216.625,94.717508
37,1998,16.4,28.2,39.1,36.3,49.2,163.9,278.4,243.8,196.5,...,157.0,24.76,19.72,26.41,27.69,22.42,18.300000,41.533333,220.650,95.427596
38,1999,13.7,11.2,8.8,19.3,94.9,169.9,261.7,213.2,183.0,...,141.0,24.67,19.75,26.66,27.38,22.29,9.533333,41.000000,206.950,93.573068
39,2000,18.4,28.2,17.9,34.7,71.6,179.0,263.5,221.1,134.5,...,66.4,24.60,19.33,26.47,27.23,22.68,18.866667,41.400000,199.525,89.931578
40,2001,7.3,8.8,18.8,43.7,67.2,219.1,279.7,209.4,114.2,...,137.1,24.73,19.75,26.82,27.47,22.52,7.733333,43.233333,205.600,95.509242
41,2002,15.7,20.3,21.5,38.3,63.3,180.1,146.2,262.5,151.2,...,82.8,25.00,19.65,27.22,27.71,22.58,13.700000,41.033333,185.000,82.971124
42,2003,7.6,45.6,33.3,35.4,39.1,184.5,316.7,255.3,191.4,...,134.8,24.72,19.82,26.52,27.64,22.23,23.933333,35.933333,236.975,106.176237
43,2004,25.7,8.8,11.4,59.0,88.9,158.7,242.1,248.7,124.6,...,112.6,24.74,19.93,27.06,27.33,22.24,13.033333,53.100000,193.525,87.857669
44,2005,28.1,41.8,42.5,37.7,46.1,143.2,334.1,190.1,206.9,...,137.7,24.58,19.79,26.33,27.64,21.93,27.033333,42.100000,218.575,99.107121
45,2006,17.7,11.9,35.6,32.7,75.0,141.8,287.6,281.3,178.6,...,99.5,25.06,21.33,26.52,27.40,22.66,14.233333,47.766667,222.325,101.737170
46,2007,1.7,36.7,35.2,30.6,46.8,192.5,286.2,257.4,206.8,...,85.4,24.77,20.10,26.69,27.49,22.32,17.900000,37.533333,235.725,105.033044
47,2008,18.4,19.3,41.2,29.5,43.7,202.0,245.0,265.8,165.1,...,88.1,24.61,19.16,26.46,27.26,22.87,16.233333,38.133333,219.475,96.850364
48,2009,12.0,12.0,14.2,25.1,56.0,85.7,280.7,192.5,139.4,...,136.1,25.11,20.72,26.86,27.89,22.58,11.700000,31.766667,174.575,84.839365
49,2010,7.5,17.0,14.0,39.0,73.8,138.1,300.7,274.7,197.7,...,153.2,25.13,20.19,27.83,27.50,22.60,15.733333,42.266667,227.800,103.331831
50,2011,6.8,25.8,22.4,41.1,53.1,183.5,246.0,284.9,186.9,...,65.8,24.67,19.54,26.38,27.54,22.71,13.400000,38.866667,225.325,101.837617
51,2012,26.5,12.7,11.3,47.5,31.7,117.8,250.2,262.4,193.5,...,101.1,24.69,19.34,26.55,27.71,22.35,16.966667,30.166667,205.975,94.796907
52,2013,11.3,40.1,15.7,30.4,57.8,219.8,310.0,254.7,152.7,...,150.1,24.82,19.98,26.85,27.46,22.50,19.366667,34.633333,234.300,107.518552
53,2014,19.2,27.4,36.1,22.2,72.9,95.4,261.2,237.5,188.0,...,85.3,24.73,19.58,26.24,27.88,22.47,19.100000,43.733333,195.525,90.561722
54,2015,17.9,25.6,36.1,42.1,67.4,164.6,284.5,257.5,171.9,...,121.6,24.91,20.12,26.29,27.73,22.99,20.833333,48.533333,219.625,95.927287
55,2016,17.6,26.2,34.4,42.8,66.3,168.8,287.7,261.0,169.2,...,125.0,25.15,22.25,28.86,28.44,24.20,21.166667,47.833333,221.675,97.074521
56,2017,18.2,26.6,33.0,41.5,68.1,169.2,294.8,260.3,173.4,...,126.0,24.79,21.84,28.41,28.50,24.21,21.366667,47.533333,224.425,98.590640
57,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,126.8,25.09,21.24,28.16,28.28,23.55,21.300000,46.200000,222.450,98.010202

#Explore dataset

In [16]:
# Check what we have in the merged DataFrame
print("DataFrame Info:")
print(merged_df.info())

print("\nColumn types and sample values:")
print(merged_df.dtypes)

# Check unique values in key columns
print(f"\nUnique Items: {merged_df['Item'].nunique() if 'Item' in merged_df.columns else 'N/A'}")
print(f"Unique Elements: {merged_df['Element'].unique() if 'Element' in merged_df.columns else 'N/A'}")
print(f"Year range: {merged_df['Year'].min()} - {merged_df['Year'].max()}")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8526 entries, 0 to 8525
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              8526 non-null   int64
 1   JAN               8526 non-null   float64
 2   FEB               8526 non-null   float64
 3   MAR               8526 non-null   float64
 4   APR               8526 non-null   float64
 5   MAY               8526 non-null   float64
 6   JUN               8526 non-null   float64
 7   JUL               8526 non-null   float64
 8   AUG               8526 non-null   float64
 9   SEP               8526 non-null   float64
 10  OCT               8526 non-null   float64
 11  NOV               8526 non-null   float64
 12  DEC               8526 non-null   float64
 13  ANN               8526 non-null   float64
 14  Jan-Feb           8526 non-null   float64
 15  Mar-May           8526 non-null   float64
 16  Jun-Sep           8526 non-null   float64
 17  Oct-Dec           8526 non-null   float64
 18  ANNUAL            8526 non-null   float64
 19  JAN-FEB           8526 non-null   float64
 20  MAR-MAY           8526 non-null   float64
 21  JUN-SEP           8526 non-null   float64
 22  OCT-DEC           8526 non-null   float64
 23  Domain Code       8526 non-null   object
 24  Domain            8526 non-null   object
 25  Area Code (FAO)   8526 non-null   int64
 26  Area              8526 non-null   object
 27  Element Code      8526 non-null   int64
 28  Element           8526 non-null   object
 29  Item Code (FAO)   8526 non-null   int64
 30  Item              8526 non-null   object
 31  Year Code         8526 non-null   int64
 32  Unit              8526 non-null   object
 33  Value             8526 non-null   int64
 34  Flag              4979 non-null   object
 35  Flag Description  8526 non-null   object
dtypes: float64(22), int64(6), object(8)
memory usage: 2.3+ MB
None

Column types and sample values:
Year                  int64
JAN                 float64
FEB                 float64
MAR                 float64
APR                 float64
MAY                 float64
JUN                 float64
JUL                 float64
AUG                 float64
SEP                 float64
OCT                 float64
NOV                 float64
DEC                 float64
ANN                 float64
Jan-Feb             float64
Mar-May             float64
Jun-Sep             float64
Oct-Dec             float64
ANNUAL              float64
JAN-FEB             float64
MAR-MAY             float64
JUN-SEP             float64
OCT-DEC             float64
Domain Code          object
Domain               object
Area Code (FAO)       int64
Area                 object
Element Code          int64
Element              object
Item Code (FAO)       int64
Item                 object
Year Code             int64
Unit                 object
Value                 int64
Flag                 object
Flag Description     object
dtype: object

Unique Items: 49
Unique Elements: ['Area harvested' 'Yield' 'Production']
Year range: 1961 - 2018

In [17]:
# --- 4) Basic quality checks ---
print("\n=== Data Quality ===")
print("Crop df columns:", crop_df.columns.tolist())
print("Unique Items (crop_df):", crop_df['Item'].nunique() if 'Item' in crop_df.columns else "N/A")
print("Year range (crop):", crop_df['Year'].min(), "-", crop_df['Year'].max())

print("\nMissing values per column (sample):")
print(crop_df.isnull().sum().sort_values(ascending=False).head(20))

=== Data Quality ===
Crop df columns: ['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag', 'Flag Description']
Unique Items (crop_df): 49
Year range (crop): 1961 - 2018

Missing values per column (sample):
Flag                3547
Domain Code            0
Area Code (FAO)        0
Area                   0
Element Code           0
Domain                 0
Element                0
Item Code (FAO)        0
Year Code              0
Item                   0
Year                   0
Unit                   0
Value                  0
Flag Description       0
dtype: int64

##seperate climate and crop data

In [18]:
print(f"Climate data rows: {len(climate_df)}")
print(f"Crop data rows: {len(crop_df)}")
print(f"Total rows in merged_df: {len(merged_df)}")
print(f"Unclassified rows: {len(merged_df) - len(climate_df) - len(crop_df)}")

# Check what's in climate data
print("\n=== Climate Data Sample ===")
print(climate_df[['Year', 'JAN', 'FEB', 'ANN', 'ANNUAL']].head())
print(f"Climate data columns: {climate_df.columns.tolist()}")

# Check what's in crop data
print("\n=== Crop Data Sample ===")
print(crop_df[['Year', 'Item', 'Element', 'Value', 'Unit']].head())
print(f"crop data columns: {crop_df.columns.tolist()}")
print(f"Unique crops: {crop_df['Item'].nunique()}")
print(f"Unique elements: {crop_df['Element'].unique()}")


print(f"Combined climate and crop data columns: {merged_df.columns.tolist()}")

Climate data rows: 58
Crop data rows: 8526
Total rows in merged_df: 8526
Unclassified rows: -58

=== Climate Data Sample ===
   Year   JAN   FEB     ANN  ANNUAL
0  1961  26.1  34.8  1399.2   24.00
1  1962  12.6  21.6  1198.0   24.04
2  1963   6.8   9.8  1220.9   24.15
3  1964  18.6  14.1  1244.4   24.10
4  1965  11.8  28.1   947.4   24.07
Climate data columns: ['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'winter_avg', 'summer_avg', 'monsoon_avg', 'climate_std']

=== Crop Data Sample ===
   Year    Item         Element  Value Unit
0  1961  Apples  Area harvested  44500   ha
1  1962  Apples  Area harvested  38500   ha
2  1963  Apples  Area harvested  33700   ha
3  1964  Apples  Area harvested  26500   ha
4  1965  Apples  Area harvested  21700   ha
crop data columns: ['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag', 'Flag Description']
Unique crops: 49
Unique elements: ['Area harvested' 'Yield' 'Production']
Combined climate and crop data columns: ['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Unit', 'Value', 'Flag', 'Flag Description']

#Prepare Training data from crop data

In [38]:
# --- 5) Prepare training data: focus on Yield (normalize Unit strings) ---
crop_df['Unit_norm'] = crop_df['Unit'].astype(str).str.strip().str.lower()

# Common unit used in your notebook: 'hg/ha'  normalize variations
target_unit = 'hg/ha'
yield_mask = (crop_df['Element'].str.strip().str.lower() == 'yield') & (crop_df['Unit_norm'] == target_unit)

yield_df = crop_df[yield_mask].copy()
print(f"Yield rows (unit={target_unit}): {len(yield_df)}")

if yield_df.empty:
    # try matching unit only by 'hg' or fallback to any yield
    yield_df = crop_df[crop_df['Element'].str.strip().str.lower() == 'yield'].copy()
    print("No exact unit match for hg/ha  falling back to any Yield rows:", len(yield_df))

# Prepare climate features list (ensure they exist)
climate_features = [c for c in ['Year','JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','ANN',
                                'winter_avg','summer_avg','monsoon_avg','climate_std'] if c in climate_df.columns]

if 'Year' not in climate_features:
    climate_features = ['Year'] + [c for c in climate_features if c != 'Year']

training_data = pd.merge(
    climate_df[climate_features],
    # yield_df[['Year','Item','Value','crop_type']],
    # yield_df[['Year','Item','Value', 'Unit']],
    crop_df[['Year','Item','Value', 'Unit', 'Element']],
    on='Year',
    how='inner'
).rename(columns={'Value': 'target_yield'})

Yield rows (unit=hg/ha): 2842

##drop rows with null or missing values

In [39]:
# drop rows with missing target
training_data = training_data.dropna(subset=['target_yield']).reset_index(drop=True)
print("Training data shape:", training_data.shape)
print("Unique crops in training:", training_data['Item'].nunique())

Training data shape: (8526, 22)
Unique crops in training: 49

In [40]:
# Focus on Yield data for training (most common prediction task)
yield_df = crop_df[crop_df['Element'] == 'Yield'].copy()
production_df = crop_df[crop_df['Element'] == 'Production'].copy()
area_df = crop_df[crop_df['Element'] == 'Area harvested'].copy()

print(f"Yield data rows: {len(yield_df)}")
print(f"Production data rows: {len(production_df)}")
print(f"Area data rows: {len(area_df)}")

# Check units
print(f"\nYield units: {yield_df['Unit'].unique()}")
print(f"Production units: {production_df['Unit'].unique()}")
print(f"Area units: {area_df['Unit'].unique()}")

Yield data rows: 2842
Production data rows: 2842
Area data rows: 2842

Yield units: ['hg/ha']
Production units: ['tonnes']
Area units: ['ha']

In [22]:
yield_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Unit_norm
58,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1961,1961,hg/ha,41573,Fc,Calculated data,hg/ha
59,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1962,1962,hg/ha,41558,Fc,Calculated data,hg/ha
60,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1963,1963,hg/ha,41543,Fc,Calculated data,hg/ha
61,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1964,1964,hg/ha,41509,Fc,Calculated data,hg/ha
62,QCL,Crops and livestock products,100,India,5419,Yield,515,Apples,1965,1965,hg/ha,41475,Fc,Calculated data,hg/ha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2014,2014,hg/ha,31457,Fc,Calculated data,hg/ha
8464,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2015,2015,hg/ha,27496,Fc,Calculated data,hg/ha
8465,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2016,2016,hg/ha,30339,Fc,Calculated data,hg/ha
8466,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2017,2017,hg/ha,31999,Fc,Calculated data,hg/ha
8467,QCL,Crops and livestock products,100,India,5419,Yield,15,Wheat,2018,2018,hg/ha,33682,Fc,Calculated data,hg/ha

##Combined Climate and Crop Data for Training

In [41]:
def create_training_dataset(merged_df, target_element='Yield', target_unit='hg/ha'):
    """
    Create training data by merging climate features with crop targets
    """
    # Filter crop data for specific element and unit
    crop_target = crop_df[
        (crop_df['Element'] == target_element) &
        (crop_df['Unit'] == target_unit)
    ].copy()

    # Prepare climate data (keep only year and climate columns)
    climate_features = climate_df[['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
                                   'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN']].copy()

    # Merge climate data with crop data on Year
    training_data = pd.merge(
        # climate_features,
        climate_df,
        crop_target[['Year', 'Item', 'Value']],
        on='Year',
        how='inner',
        suffixes=('_climate', '_crop')
    )

    # Rename target column
    training_data = training_data.rename(columns={'Value': 'target_yield'})

    return training_data.dropna()

# Create training dataset
train_data = create_training_dataset(merged_df, 'Yield', 'hg/ha')
print(f"Training data shape: {train_data.shape}")
print(f"Unique crops in training data: {train_data['Item'].nunique()}")

Training data shape: (2842, 29)
Unique crops in training data: 49

In [29]:
train_data

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,winter_avg,summer_avg,monsoon_avg,climate_std,Item,target_yield
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Apples,41573
1,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Apricots,27586
2,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Areca nuts,8889
3,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Bananas,136788
4,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Barley,8796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Soybeans,10585
2838,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Sugar cane,801984
2839,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Tomatoes,250431
2840,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Watermelons,249505
2841,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Wheat,33682

Exploratory Data Analysis for Unsupervised Learning

In [42]:
print("=== Unsupervised Learning Dataset Analysis ===")
print(f"Dataset shape: {train_data.shape}")
print(f"Features available: {train_data.columns.tolist()}")

# Check data types and basic stats
print("\nData types:")
print(train_data.dtypes)

print("\nBasic statistics:")
print(train_data.describe())

=== Unsupervised Learning Dataset Analysis ===
Dataset shape: (2842, 29)
Features available: ['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'winter_avg', 'summer_avg', 'monsoon_avg', 'climate_std', 'Item', 'target_yield']

Data types:
Year              int64
JAN             float64
FEB             float64
MAR             float64
APR             float64
MAY             float64
JUN             float64
JUL             float64
AUG             float64
SEP             float64
OCT             float64
NOV             float64
DEC             float64
ANN             float64
Jan-Feb         float64
Mar-May         float64
Jun-Sep         float64
Oct-Dec         float64
ANNUAL          float64
JAN-FEB         float64
MAR-MAY         float64
JUN-SEP         float64
OCT-DEC         float64
winter_avg      float64
summer_avg      float64
monsoon_avg     float64
climate_std     float64
Item             object
target_yield      int64
dtype: object

Basic statistics:
              Year          JAN          FEB          MAR          APR  \
count  2842.000000  2842.000000  2842.000000  2842.000000  2842.000000
mean   1989.500000    16.815517    23.437931    28.877586    38.174138
std      16.743615     6.259442     9.136248    11.630090     9.583108
min    1961.000000     1.700000     8.800000     8.800000    19.300000
25%    1975.000000    12.600000    15.300000    20.300000    30.600000
50%    1989.500000    16.100000    24.000000    28.050000    37.500000
75%    2004.000000    20.900000    28.100000    35.600000    43.800000
max    2018.000000    31.300000    45.600000    63.300000    68.300000

               MAY          JUN          JUL          AUG          SEP  ...  \
count  2842.000000  2842.000000  2842.000000  2842.000000  2842.000000  ...
mean     62.256897   166.043103   282.324138   256.698276   168.686207  ...
std      13.965365    31.152503    36.657250    31.413375    30.668754  ...
min      31.700000    85.700000   146.200000   190.100000   114.200000  ...
25%      53.100000   143.200000   262.100000   236.200000   145.300000  ...
50%      60.650000   169.000000   283.250000   261.450000   165.200000  ...
75%      70.100000   184.700000   305.400000   276.900000   191.400000  ...
max     112.900000   229.900000   374.800000   316.700000   251.600000  ...

            ANNUAL      JAN-FEB      MAR-MAY      JUN-SEP      OCT-DEC  \
count  2842.000000  2842.000000  2842.000000  2842.000000  2842.000000
mean     24.460345    19.578448    26.338103    27.379138    22.199138
std       0.364216     0.765361     0.703631     0.372362     0.599390
min      23.740000    18.250000    25.240000    26.570000    21.170000
25%      24.150000    19.070000    25.850000    27.150000    21.830000
50%      24.440000    19.455000    26.295000    27.300000    22.140000
75%      24.730000    19.790000    26.550000    27.540000    22.500000
max      25.290000    22.250000    28.860000    28.500000    24.210000

        winter_avg   summer_avg  monsoon_avg  climate_std   target_yield
count  2842.000000  2842.000000  2842.000000  2842.000000    2842.000000
mean     18.806897    43.102874   218.437931    98.322880   81658.956017
std       4.591076     6.893046    20.783581     9.816875  104104.659167
min       7.733333    30.166667   168.575000    72.710107     382.000000
25%      15.733333    38.133333   205.600000    93.573068   10499.750000
50%      19.233333    41.616667   221.575000    98.849593   54297.000000
75%      21.300000    46.633333   228.675000   103.958588  110332.250000
max      30.400000    70.233333   263.000000   122.515227  801984.000000

[8 rows x 28 columns]

#Prepare Features for Unsupervised Learning

In [43]:
# Select only numerical features for unsupervised learning
numerical_features = train_data.select_dtypes(include=[np.number]).columns.tolist()

# Remove Year if it's not meaningful for clustering
if 'Year' in numerical_features:
    numerical_features.remove('Year')

print(f"Numerical features for clustering: {numerical_features}")

X = train_data[numerical_features].copy()

# Handle missing values
if X.isnull().any().any():
    from sklearn.impute import SimpleImputer
    imputer = SimpleImputer(strategy='median')
    X = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)
    print(f"Missing values handled: {X.isnull().sum().sum()} remaining")

# Scale the features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

print(f"Final feature matrix shape: {X_scaled_df.shape}")

Numerical features for clustering: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC', 'winter_avg', 'summer_avg', 'monsoon_avg', 'climate_std', 'target_yield']
Final feature matrix shape: (2842, 27)

In [44]:
train_data

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,winter_avg,summer_avg,monsoon_avg,climate_std,Item,target_yield
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Apples,41573
1,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Apricots,27586
2,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Areca nuts,8889
3,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Bananas,136788
4,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,...,18.98,26.11,27.06,21.17,23.766667,44.033333,263.00,116.831600,Barley,8796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Soybeans,10585
2838,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Sugar cane,801984
2839,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Tomatoes,250431
2840,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Watermelons,249505
2841,2018,18.5,26.5,32.1,39.5,67.0,171.9,293.2,259.4,165.3,...,21.24,28.16,28.28,23.55,21.300000,46.200000,222.45,98.010202,Wheat,33682

#Correlation-Based Feature Selection

In [45]:
# Keep only numeric columns before correlation
train_data = train_data.select_dtypes(include=[np.number])

correlation_threshold = 0.1   # you may change to 0.1

corr_with_target = train_data.corr()['target_yield'].abs()
selected_corr_features = corr_with_target[corr_with_target > correlation_threshold].index.tolist()

print("Selected by Correlation (>", correlation_threshold, "):")
print(selected_corr_features)

train_data = train_data[selected_corr_features]

# Remove multicollinearity
corr_matrix = train_data.corr().abs()
upper_triangle = np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)
upper_triangle_corr = corr_matrix.where(upper_triangle)

high_corr_threshold = 0.85
to_drop = [column for column in upper_triangle_corr.columns
           if any(upper_triangle_corr[column] > high_corr_threshold)]

print("Highly correlated features removed:", to_drop)

train_data = train_data.drop(columns=to_drop)

# Final numeric features (except target)
numeric_features = train_data.columns.tolist()
numeric_features.remove('target_yield')

Selected by Correlation (> 0.1 ):
['Year', 'ANNUAL', 'JUN-SEP', 'OCT-DEC', 'target_yield']
Highly correlated features removed: []

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression

X = train_data.drop(columns=['target_yield'])
y = train_data['target_yield']

k = 10  # choose how many features you want
selector = SelectKBest(score_func=f_regression, k=k)
X_new = selector.fit_transform(X, y)

selected_f_features = X.columns[selector.get_support()].tolist()

print("Top", k, "features selected using F-test:")
print(selected_f_features)

# Keep only these features
train_data = train_data[selected_f_features + ['target_yield']]

#Dimensionality Reduction (PCA)

In [ ]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns

# Apply PCA to visualize data structure
pca = PCA()
X_pca = pca.fit_transform(X_scaled_df)

# Plot explained variance
plt.figure(figsize=(10, 6))
plt.plot(range(1, len(pca.explained_variance_ratio_) + 1),
         np.cumsum(pca.explained_variance_ratio_), marker='o')
plt.xlabel('Number of Principal Components')
plt.ylabel('Cumulative Explained Variance')
plt.title('PCA Explained Variance Ratio')
plt.grid(True)
plt.show()

print(f"Variance explained by first 2 components: {pca.explained_variance_ratio_[:2].sum():.3f}")
print(f"Variance explained by first 5 components: {pca.explained_variance_ratio_[:5].sum():.3f}")

#Clustering analyses

Clustering Analysis
->K-Means Clustering

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Find optimal number of clusters using elbow method
inertia = []
silhouette_scores = []
k_range = range(2, 11)

for k in k_range:
    kmeans = KMeans(n_clusters=k, random_state=42, n_init=10)
    cluster_labels = kmeans.fit_predict(X_scaled_df)
    inertia.append(kmeans.inertia_)
    silhouette_scores.append(silhouette_score(X_scaled_df, cluster_labels))

# Plot elbow curve and silhouette scores
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 5))

ax1.plot(k_range, inertia, marker='o')
ax1.set_xlabel('Number of Clusters')
ax1.set_ylabel('Inertia')
ax1.set_title('Elbow Method')
ax1.grid(True)

ax2.plot(k_range, silhouette_scores, marker='o', color='orange')
ax2.set_xlabel('Number of Clusters')
ax2.set_ylabel('Silhouette Score')
ax2.set_title('Silhouette Scores')
ax2.grid(True)

plt.tight_layout()
plt.show()

# Choose optimal k (you can adjust based on the plots)
optimal_k = 4  # Change based on elbow/silhouette analysis
kmeans = KMeans(n_clusters=optimal_k, random_state=42, n_init=10)
cluster_labels = kmeans.fit_predict(X_scaled_df)

# Add cluster labels to original data
train_data['cluster'] = cluster_labels

print(f"Cluster distribution:")
print(train_data['cluster'].value_counts().sort_index())

##AI-based crop predection

In [ ]:
# Use PCA for 2D visualization of clusters
pca_2d = PCA(n_components=2)
X_pca_2d = pca_2d.fit_transform(X_scaled_df)

plt.figure(figsize=(12, 8))
scatter = plt.scatter(X_pca_2d[:, 0], X_pca_2d[:, 1], c=cluster_labels, cmap='viridis', alpha=0.7)
plt.colorbar(scatter)
plt.xlabel(f'PC1 ({pca_2d.explained_variance_ratio_[0]:.2%} variance)')
plt.ylabel(f'PC2 ({pca_2d.explained_variance_ratio_[1]:.2%} variance)')
plt.title('Cluster Visualization (PCA)')
plt.grid(True, alpha=0.3)
plt.show()

## Analyze Cluster Characteristics

In [ ]:
# Analyze what each cluster represents
cluster_analysis = train_data.groupby('cluster')[numerical_features].mean()

print("Cluster centroids (feature means):")
print(cluster_analysis)

# Visualize cluster characteristics
plt.figure(figsize=(15, 8))
cluster_analysis.T.plot(kind='bar', figsize=(15, 8))
plt.title('Feature Means by Cluster')
plt.ylabel('Scaled Value')
plt.xticks(rotation=45)
plt.legend(title='Cluster')
plt.tight_layout()
plt.show()

##DBSCAN Clustering

In [ ]:
from sklearn.cluster import DBSCAN

dbscan = DBSCAN(eps=0.5, min_samples=5)
dbscan_labels = dbscan.fit_predict(X_scaled_df)

print(f"DBSCAN clusters: {len(set(dbscan_labels)) - (1 if -1 in dbscan_labels else 0)}")
print(f"Outliers (noise): {(dbscan_labels == -1).sum()}")

##Hierarchical Clustering

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering

# Plot dendrogram
plt.figure(figsize=(12, 8))
Z = linkage(X_scaled_df, method='ward')
dendrogram(Z, truncate_mode='level', p=5)
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Sample index')
plt.ylabel('Distance')
plt.show()

#Discover Patterns and Insights

In [ ]:
# Analyze relationships between original features and clusters
if 'Item' in train_data.columns:
    print("\nCrop distribution across clusters:")
    cross_tab = pd.crosstab(train_data['cluster'], train_data['Item'])
    print(cross_tab)

if 'Year' in train_data.columns:
    print("\nTemporal patterns in clusters:")
    yearly_clusters = train_data.groupby('Year')['cluster'].value_counts().unstack().fillna(0)
    print(yearly_clusters.tail(10))

In [ ]:
# 1. CLUSTERING: Group similar climate-crop patterns
def analyze_clusters():
    kmeans = KMeans(n_clusters=5, random_state=42)
    clusters = kmeans.fit_predict(X_scaled)

    # Analyze what each cluster represents
    cluster_profile = train_data.copy()
    cluster_profile['cluster'] = clusters

    print("Cluster characteristics:")
    for cluster_id in range(5):
        cluster_data = cluster_profile[cluster_profile['cluster'] == cluster_id]
        print(f"\nCluster {cluster_id} ({len(cluster_data)} samples):")
        if 'Item' in cluster_data.columns:
            print(f"  Common crops: {cluster_data['Item'].value_counts().head(3).to_dict()}")
        print(f"  Climate profile - Avg temp: {cluster_data['ANN'].mean():.1f}, "
              f"Rainfall: {cluster_data[['JAN', 'FEB']].mean().mean():.1f}")

# 2. DIMENSIONALITY REDUCTION: Simplify climate variables
def reduce_dimensions():
    pca = PCA(n_components=3)
    principal_components = pca.fit_transform(X_scaled)
    print(f"Variance explained: {pca.explained_variance_ratio_.sum():.2%}")

    # Identify which original features contribute most to each component
    feature_importance = pd.DataFrame(
        pca.components_,
        columns=X.columns,
        index=[f'PC{i+1}' for i in range(3)]
    )
    print("\nTop features for each principal component:")
    print(feature_importance.T.abs().idxmax(axis=1))

# 3. PATTERN DISCOVERY: Find climate-crop relationships
def discover_patterns():
    # Correlation between climate and crop types
    climate_crop_corr = train_data.groupby('Item')[[
        'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
        'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'
    ]].mean()

    print("Climate patterns by crop type:")
    print(climate_crop_corr.head())

# 4. ANOMALY DETECTION: Find unusual data points
def detect_anomalies():
    iso_forest = IsolationForest(contamination=0.1, random_state=42)
    anomalies = iso_forest.fit_predict(X_scaled)

    anomalous_data = train_data[anomalies == -1]
    print(f"Detected {len(anomalous_data)} anomalous records")

    if 'Year' in anomalous_data.columns and 'Item' in anomalous_data.columns:
        print("Anomalous years and crops:")
        print(anomalous_data[['Year', 'Item']].head(10))

In [ ]:
# Start with PATTERN DISCOVERY + CLUSTERING combined
def comprehensive_analysis(train_data):
    print("=== PATTERN DISCOVERY ===")

    # 1. Climate-Crop Relationships
    if 'Item' in train_data.columns:
        crop_climate_corr = train_data.groupby('Item')[[
            'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
            'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN'
        ]].mean()

        print("Top climate patterns by crop:")
        print(crop_climate_corr.head(10))

    # 2. Seasonal Patterns
    print("\n=== SEASONAL ANALYSIS ===")
    seasonal_impact = train_data.groupby('Item')[[
        'winter_avg', 'summer_avg', 'monsoon_avg'
    ]].mean()
    print("Seasonal climate preferences by crop:")
    print(seasonal_impact.head(10))

    # 3. CLUSTERING Analysis
    print("\n=== CLUSTERING ANALYSIS ===")
    from sklearn.cluster import KMeans
    from sklearn.preprocessing import StandardScaler

    # Prepare features (exclude non-numerical)
    features = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
                'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANN',
                'winter_avg', 'summer_avg', 'monsoon_avg']

    X = train_data[features].dropna()
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    kmeans = KMeans(n_clusters=4, random_state=42)
    clusters = kmeans.fit_predict(X_scaled)

    # Analyze clusters
    train_data_clustered = train_data.copy()
    train_data_clustered = train_data_clustered.loc[X.index]  # Align indices
    train_data_clustered['cluster'] = clusters

    print("Cluster Profiles:")
    for cluster_id in range(4):
        cluster_data = train_data_clustered[train_data_clustered['cluster'] == cluster_id]
        print(f"\n Cluster {cluster_id} ({len(cluster_data)} records):")
        if 'Item' in cluster_data.columns:
            top_crops = cluster_data['Item'].value_counts().head(3)
            print(f"   Common crops: {dict(top_crops)}")
        print(f"   Avg annual climate: {cluster_data['ANN'].mean():.1f}")
        print(f"   Climate variability: {cluster_data['climate_std'].mean():.1f}")

    return train_data_clustered

# Run the analysis
enhanced_data = comprehensive_analysis(train_data)