<a href="https://colab.research.google.com/github/sandeepa-ukr/AI-Based-Crop-Predection/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# ML imports
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.ensemble import IsolationForest
from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
crop_files = [
    ("apples.csv", "apples"),
    ("apricots.csv", "apricots"),
    ("areca nuts.csv", "areca nuts"),
    ("bananas.csv", "bananas"),
    ("barley.csv", "barley"),
    ("beans dry.csv", "beans dry"),
    ("beans green.csv", "beans green"),
    ("cabbage.csv", "cabbage"),
    ("carrots.csv", "carrots"),
    ("cashewnuts.csv", "cashewnuts"),
    ("cauliflower.csv", "cauliflower"),
    ("cherries.csv", "cherries"),
    ("chilli dry.csv", "chilli dry"),
    ("chilli green.csv", "chilli green"),
    ("coconuts.csv", "coconuts"),
    ("coffee.csv", "coffee"),
    ("cucumber.csv", "cucumber"),
    ("eggplant.csv", "eggplant"),
    ("fennel coriander.csv", "fennel coriander"),
    ("garlic.csv", "garlic"),
    ("ginger.csv", "ginger"),
    ("grapes.csv", "grapes"),
    ("groundnuts.csv", "groundnuts"),
    ("lemons.csv", "lemons"),
    ("lentils.csv", "lentils"),
    ("lettuce.csv", "lettuce"),
    ("maize.csv", "maize"),
    ("mangoes.csv", "mangoes"),
    ("melons.csv", "melons"),
    ("nutmeg.csv", "nutmeg"),
    ("okra.csv", "okra"),
    ("onions.csv", "onions"),
    ("oranges.csv", "oranges"),
    ("papaya.csv", "papaya"),
    ("peaches.csv", "peaches"),
    ("pears.csv", "pears"),
    ("peas.csv", "peas"),
    ("pepper.csv", "pepper"),
    ("pineapples.csv", "pineapples"),
    ("potatoes.csv", "potatoes"),
    ("pumpkins.csv", "pumpkins"),
    ("rice.csv", "rice"),
    ("safflower.csv", "safflower"),
    ("sesame.csv", "sesame"),
    ("soyabean.csv", "soyabean"),
    ("sugarcane.csv", "sugarcane"),
    ("tomatoes.csv", "tomatoes"),
    ("watermelon.csv", "watermelon"),
    ("wheat.csv", "wheat"),
]

In [3]:
crop_dfs = []
for fname, crop_name in crop_files:
    tmp = pd.read_csv(fname)
    # tmp = tmp.copy()
    # tmp['Year'] = tmp['Year'].astype(int)
    # tmp['crop_type'] = crop_name
    crop_dfs.append(tmp)

crop_df = pd.concat(crop_dfs, ignore_index=True, axis=0)
print(f"Loaded crop_df shape: {crop_df.shape}")

Loaded crop_df shape: (8526, 14)

In [5]:
crop_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8521,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2014,2014,tonnes,95850000,NaN,Official data
8522,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2015,2015,tonnes,86530000,NaN,Official data
8523,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2016,2016,tonnes,92290000,NaN,Official data
8524,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2017,2017,tonnes,98510220,NaN,Official data
8525,QCL,Crops and livestock products,100,India,5510,Production,15,Wheat,2018,2018,tonnes,99869520,NaN,Official data

In [8]:
ftest_df = pd.read_csv('FTest_features.csv')

In [9]:
ftest_df

,Year,APR,AUG,DEC,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,climate_std,target_yield
0,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573
1,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,27586
2,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,8889
3,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,136788
4,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,8796
...,...,...,...,...,...,...,...,...,...,...,...
2837,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,10585
2838,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,801984
2839,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,250431
2840,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,249505
2841,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682

In [10]:
combined_df = pd.merge(ftest_df, crop_df, on='Year', how='inner')
print(combined_df.head())

   Year   APR    AUG   DEC  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC  \
0  1961  28.5  287.6  10.4    24.0    18.98    26.11    27.06    21.17
1  1961  28.5  287.6  10.4    24.0    18.98    26.11    27.06    21.17
2  1961  28.5  287.6  10.4    24.0    18.98    26.11    27.06    21.17
3  1961  28.5  287.6  10.4    24.0    18.98    26.11    27.06    21.17
4  1961  28.5  287.6  10.4    24.0    18.98    26.11    27.06    21.17

   climate_std  ...   Area Element Code         Element  Item Code (FAO)  \
0     116.8316  ...  India         5312  Area harvested              515
1     116.8316  ...  India         5419           Yield              515
2     116.8316  ...  India         5510      Production              515
3     116.8316  ...  India         5312  Area harvested              526
4     116.8316  ...  India         5419           Yield              526

       Item  Year Code    Unit   Value Flag  Flag Description
0    Apples       1961      ha   44500    F      FAO estimate
1    Apples       1961   hg/ha   41573   Fc   Calculated data
2    Apples       1961  tonnes  185000  NaN     Official data
3  Apricots       1961      ha    2900    F      FAO estimate
4  Apricots       1961   hg/ha   27586   Fc   Calculated data

[5 rows x 24 columns]

In [11]:
combined_df

,Year,APR,AUG,DEC,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,climate_std,...,Area,Element Code,Element,Item Code (FAO),Item,Year Code,Unit,Value,Flag,Flag Description
0,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,...,India,5312,Area harvested,515,Apples,1961,ha,44500,F,FAO estimate
1,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,...,India,5419,Yield,515,Apples,1961,hg/ha,41573,Fc,Calculated data
2,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,...,India,5510,Production,515,Apples,1961,tonnes,185000,NaN,Official data
3,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,...,India,5312,Area harvested,526,Apricots,1961,ha,2900,F,FAO estimate
4,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,...,India,5419,Yield,526,Apricots,1961,hg/ha,27586,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417769,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,...,India,5419,Yield,567,Watermelons,2018,hg/ha,249505,Fc,Calculated data
417770,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,...,India,5510,Production,567,Watermelons,2018,tonnes,2520000,NaN,Official data
417771,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,...,India,5312,Area harvested,15,Wheat,2018,ha,29650590,NaN,Official data
417772,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,...,India,5419,Yield,15,Wheat,2018,hg/ha,33682,Fc,Calculated data
417773,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,...,India,5510,Production,15,Wheat,2018,tonnes,99869520,NaN,Official data

In [12]:
combined_df.columns

Index(['Year', 'APR', 'AUG', 'DEC', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP',
       'OCT-DEC', 'climate_std', 'target_yield', 'Domain Code', 'Domain',
       'Area Code (FAO)', 'Area', 'Element Code', 'Element', 'Item Code (FAO)',
       'Item', 'Year Code', 'Unit', 'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [15]:
train_data= combined_df.drop(columns=['Domain Code', 'Domain',
       'Area Code (FAO)', 'Area', 'Element Code', 'Item Code (FAO)',
       'Year Code', 'Flag', 'Flag Description'])

In [16]:
train_data

,Year,APR,AUG,DEC,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC,climate_std,target_yield,Element,Item,Unit,Value
0,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573,Area harvested,Apples,ha,44500
1,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573,Yield,Apples,hg/ha,41573
2,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573,Production,Apples,tonnes,185000
3,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573,Area harvested,Apricots,ha,2900
4,1961,28.5,287.6,10.4,24.00,18.98,26.11,27.06,21.17,116.831600,41573,Yield,Apricots,hg/ha,27586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417769,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682,Yield,Watermelons,hg/ha,249505
417770,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682,Production,Watermelons,tonnes,2520000
417771,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682,Area harvested,Wheat,ha,29650590
417772,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682,Yield,Wheat,hg/ha,33682
417773,2018,39.5,259.4,18.9,25.09,21.24,28.16,28.28,23.55,98.010202,33682,Production,Wheat,tonnes,99869520

In [17]:
train_data.columns

Index(['Year', 'APR', 'AUG', 'DEC', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP',
       'OCT-DEC', 'climate_std', 'target_yield', 'Element', 'Item', 'Unit',
       'Value'],
      dtype='object')

In [19]:
# Start with PATTERN DISCOVERY + CLUSTERING combined
# def comprehensive_analysis(train_data):
print("=== PATTERN DISCOVERY ===")

    # 1. Climate-Crop Relationships
if 'Item' in train_data.columns:
    crop_climate_corr = train_data.groupby('Item')[[
        'Year', 'APR', 'AUG', 'DEC', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP',
       'OCT-DEC'
    ]].mean()

    print("Top climate patterns by crop:")
    print(crop_climate_corr.head(10))

    # 2. Seasonal Patterns
# print("\n=== SEASONAL ANALYSIS ===")
# seasonal_impact = train_data.groupby('Item')[[
#     'winter_avg', 'summer_avg', 'monsoon_avg'
# ]].mean()
# print("Seasonal climate preferences by crop:")
# print(seasonal_impact.head(10))

    # 3. CLUSTERING Analysis
print("\n=== CLUSTERING ANALYSIS ===")
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

    # Prepare features (exclude non-numerical)
features = ['Year', 'APR', 'AUG', 'DEC', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP',
       'OCT-DEC', 'climate_std', 'target_yield', 'Value']

X = train_data[features].dropna()
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

kmeans = KMeans(n_clusters=4, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

    # Analyze clusters
train_data_clustered = train_data.copy()
train_data_clustered = train_data_clustered.loc[X.index]  # Align indices
train_data_clustered['cluster'] = clusters

print("Cluster Profiles:")
for cluster_id in range(4):
    cluster_data = train_data_clustered[train_data_clustered['cluster'] == cluster_id]
    print(f"\n📍 Cluster {cluster_id} ({len(cluster_data)} records):")
    if 'Item' in cluster_data.columns:
        top_crops = cluster_data['Item'].value_counts().head(3)
        print(f"   Common crops: {dict(top_crops)}")
    # print(f"   Avg annual climate: {cluster_data['ANN'].mean():.1f}")
    print(f"   Climate variability: {cluster_data['climate_std'].mean():.1f}")

# return train_data_clustered

# Run the analysis
# enhanced_data = comprehensive_analysis(train_data)

=== PATTERN DISCOVERY ===
Top climate patterns by crop:
                                    Year        APR         AUG        DEC  \
Item
Anise, badian, fennel, coriander  1989.5  38.174138  256.698276  16.167241
Apples                            1989.5  38.174138  256.698276  16.167241
Apricots                          1989.5  38.174138  256.698276  16.167241
Areca nuts                        1989.5  38.174138  256.698276  16.167241
Bananas                           1989.5  38.174138  256.698276  16.167241
Barley                            1989.5  38.174138  256.698276  16.167241
Beans, dry                        1989.5  38.174138  256.698276  16.167241
Beans, green                      1989.5  38.174138  256.698276  16.167241
Cabbages and other brassicas      1989.5  38.174138  256.698276  16.167241
Carrots and turnips               1989.5  38.174138  256.698276  16.167241

                                     ANNUAL    JAN-FEB    MAR-MAY    JUN-SEP  \
Item
Anise, badian, fennel, coriander  24.460345  19.578448  26.338103  27.379138
Apples                            24.460345  19.578448  26.338103  27.379138
Apricots                          24.460345  19.578448  26.338103  27.379138
Areca nuts                        24.460345  19.578448  26.338103  27.379138
Bananas                           24.460345  19.578448  26.338103  27.379138
Barley                            24.460345  19.578448  26.338103  27.379138
Beans, dry                        24.460345  19.578448  26.338103  27.379138
Beans, green                      24.460345  19.578448  26.338103  27.379138
Cabbages and other brassicas      24.460345  19.578448  26.338103  27.379138
Carrots and turnips               24.460345  19.578448  26.338103  27.379138

                                    OCT-DEC
Item
Anise, badian, fennel, coriander  22.199138
Apples                            22.199138
Apricots                          22.199138
Areca nuts                        22.199138
Bananas                           22.199138
Barley                            22.199138
Beans, dry                        22.199138
Beans, green                      22.199138
Cabbages and other brassicas      22.199138
Carrots and turnips               22.199138

=== CLUSTERING ANALYSIS ===
Cluster Profiles:

📍 Cluster 0 (122771 records):
   Common crops: {'Sugar cane': np.int64(2529), 'Rice, paddy': np.int64(2508), 'Apples': np.int64(2505)}
   Climate variability: 92.0

📍 Cluster 1 (158623 records):
   Common crops: {'Sugar cane': np.int64(3244), 'Rice, paddy': np.int64(3239), 'Wheat': np.int64(3238)}
   Climate variability: 96.0

📍 Cluster 2 (114771 records):
   Common crops: {'Apples': np.int64(2343), 'Apricots': np.int64(2343), 'Areca nuts': np.int64(2343)}
   Climate variability: 108.3

📍 Cluster 3 (21609 records):
   Common crops: {'Apples': np.int64(441), 'Apricots': np.int64(441), 'Areca nuts': np.int64(441)}
   Climate variability: 97.9